
<div>
    Search:
    <input type="text" @bind-value="_filter"/>
    <button @onclick="SearchCallback">Search</button>
</div>

@code {

    private string _filter;

    [Parameter]
    public EventCallback<string> OnSearchCallback { get; set; }

    private void SearchCallback()
    {
        OnSearchCallback.InvokeAsync(_filter);
    }

}
